<html>
    <head>
        <title></title>

        <script src="https://kit.fontawesome.com/fe270a6d9f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Merriweather&family=Montserrat:wght@100;400;900&family=Poppins:wght@400;800;900&family=Public+Sans:wght@300;900&family=Sacramento&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
        <script src="index.js"></script>
        <script src="https://unpkg.com/scrollreveal"></script>

    </head>

    <style>
body {
    background-color: white;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#main h3 {
  font-size: 3rem;
  font-family: "Public Sans";
  text-align: center;
}

#main {
    padding-top: 5%;
    padding-bottom: 8%;
}

footer {
    background-color: rgb(20, 20, 102);
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: center;
}

.ending {
    color: white;
}

.by {
    color: white;
}

.center-align {
    text-align: center;
}

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(20, 20, 102);
    color: white;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}
    </style>

    <body>
        <div class="header">
            <h1>⛅ WeatherAll</h1>
        </div>
    <section id="main">
        <div class="main">
                    <hr>
                    <h3><strong>Weather in <%=City%> <%=Country%></strong></h3>
                    <br>
                    <div class="center-align">
                        <h2>Temperature : <%= Temp %>°</h2>
                        <h2>Feels Like : <%=FeelsLike%>°</h2>
                        <h2>Type : <%=Description%></h2>
                        <h2>Humidity : <%=Humidity%>%</h2>
                        <h2>Wind Speed : <%=WindSpeed%> m/s</h2>
                        <h2>Pressure : <%=Pressure%> hPa</h2>
                        <img style="background-color: rgb(20, 20, 102); height: 200px;width: 200px;padding-bottom: 10px;" src="<%=WeatherImg%>">
            
                        <br><br><a class="button-24" href="/">Back</a>
                    </div>
    
                    

                </div>
            </div>

        </div>
    </section>

        
    </body>

    <footer>
        <h3 class="ending">©2023 WeatherAll</h2>
        <h5 class="by">Created with ♥ by <a class="link2" href="https://github.com/ManasJhaMJ"><u>Manas Jha</u></a></h3>

        </footer>
</html>



<!-- <body>
    <section class="main">
        <div class="temp">
            <p class="temp1">The Temperature in <u><%=City%></u> is <u><%= Temp %>°C</u> </p>
        </div>

        <div class="type">
            <p class="type1">Weather Type : <strong><%=Description%></strong></p>
        </div>

        <div class="image">
            <img class="image1" src="<%=WeatherImg%>">
        </div>
    </section>

    <a class="button-35" href="/">Back</a>

</body> -->

<!-- HTML !-->
